.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('src/images/nasa-pd4lo70LdbI-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.errorMessage {
  background-color: black;
  padding: 8px;
  border-radius: 8px;
  font-style: italic;
}