.cardCustom {
  background-color: rgb(26, 26, 26) !important;
  border-color: yellow !important;
  color: yellow !important;
}

.buttonCustom {
  background-color: rgb(53, 53, 53)!important;
  color: yellow!important;
}